:root {
  --main-neutral: #F8F5E4;
  --secondary-neutral: #FBD1A2;
  --main-accent: #7DCFB6;  
  --secondary-accent:#FC9F5B;
  --text-color: #0D1F2D;
}


body {
  background: var(--main-neutral);
  margin: 0;
  padding: 50px;
  text-align: center;
  color: var(--text-color);
}

h1 {
  color: var(--secondary-accent);
  font-size: 3.2em;
  letter-spacing: 0.03em;
}

hr {
  margin-bottom: 20px;
  margin-top: 32px;
  box-shadow: 0;
}

button {
  background: var(--main-accent);
  color: #fff;
  font-size: 1.12em;
  border: 0;
  text-transform: uppercase;
  padding: 12px 2px;
  width: 100%;
  max-width: 320px;
}

input[type=text]{
    padding: 12px 2px;
    font-size: 17px;
    width: 100%;
    max-width: 320px;
    margin-right: 12px;
}
